@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

* {
  --primary: #00910D;
  --secondary: #3968ED;
  --tertiary: #000;
  --lightGreen: #35fab0;
  --white: #fff;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white);
  font-weight: bolder;
}

a:hover {
  color: var(--lightGreen);
}

a:focus {
  color: var(--secondary);
}

.navBrand {
  font-family: 'Courgette', cursive;
  font-size: 2.5rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  background: var(--tertiary);
}

.navBrand {
  text-transform: uppercase;
  font-weight: bold;
}

.navMenu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}

.navToggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: var(--white);
  transition: 0.4s ease-in;
}

.navToggler {
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 768px) {
  .navToggler {
    display: block;
    cursor: pointer;
  }

  .navMenu {
    position: fixed;
    top: 7vh;
    right: 0;
    width: 50%;
    height: 93vh;
    background: var(--tertiary);
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
}

/* nav active class */
.navActive {
  transform: translateX(0);
}

/* toggle icon animation */
.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}